#head {
    height: 50vh;
    min-height: 500px;
    background-image: url('photo2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Column 12/12 */
#head .text-center{
    position:relative;
    top:-125px;
    font-weight:400;
}

.fw-normal, .lead{
    color: white;
    text-shadow: 0 0 8px black;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
}


.card-text{
    font-size:12px;
    text-align: left;
}