
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

#bookingbox
{
  z-index: 40 !important;
  position: relative;
  left:430px;
  top:22px;
  width:100% !important;
  background-color:#e8d281 !important;
}

#calendarbox
{
  position: relative;
  display: flex;
  top:10px;
  width:100%;
  height:auto !important;
}

/* Calendar */
#calendarbox .calendar{
  height:auto;
}


.clearbtn
{
  position:relative;
  top:5px;
  left:2.1%;
  height: 50px;
  width:29%;
  font-size: 100%;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  background-color: white;
}
.clearbtn:hover
{
  background-color: rgb(245, 245, 245);
}
#date1
{
  color: rgb(126, 126, 126);
}
#date1:focus
{
  outline: solid 2px #0976db;
  background-color: white
}
#date2
{
  margin-left:1%;
  color: rgb(126, 126, 126);
}
#date2:focus
{
  outline: solid 2px #0976db;
  background-color: white
}
.time
{
  position: relative;
  top:5px;
  left:2.6%;
  height: 50px;
  width:6% ;
  color: rgb(126, 126, 126);
  text-align: center;
  font-size: 100%;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  background-color: white;
}

.time:hover
{
  background-color: rgb(245, 245, 245);
}
.time:focus
{
  outline: solid 2px #0976db;
  background-color: white
}
#guests
{
  position: relative;
  top:5px;
  left:0.7%;
  height: 50px;
  width:10% ;
  color: rgb(126, 126, 126);
  text-indent: 50px;
  font-size: 100%;
  font-weight: bold;
  border: none;
  border-radius:3px;
  background-color: white;
}
#guests:hover
{
  background-color: rgb(245, 245, 245);
}
#guests:focus
{
  outline: solid 2px #0976db;
  background-color: white
}
#submit
{
  position: relative;
  top:5px;
  left:1.2%;
  width:10% ;
  height:50px;
  text-align: center;
  color:white;
  font-size: 105%;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  background-color: #1cac69;
}
#submit:hover
{
  background-color: #1a8b57;
}
#guest
{
  z-index: 2;
  position:relative;
  width:2.5%;
  top:3px;
  left:4.8%;
}


#calendaricon1
{
  position:relative;
  left:1%;
  top:4px;
  width:4.8%;
}
#calendaricon1:hover
{
  cursor: pointer;
}

.icon {
  font-family: 'Material Icons', serif;
  font-style: normal;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}


/* VARIABLES */

:root {
  --main-color: #1a8fff;
  --text-color: #777;
  --text-color-light: #ccc;
  --border-color: #eee;
  --bg-color: #f9f9f9;
  --neutral-color: #fff;
}


/* GENERAL */

* {
  box-sizing: border-box;
}

#bookingbox {
    font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-size: .75em;
    font-weight: 500;
    line-height: 1.5;
    color: var(--text-color);
    background: var(--bg-color);
    position: relative;
    width:50%;
    height:60px;
    background-color: #3a5168;
}

header {
  display: block;
  width: 100%;
  padding: 1.75em 0;
  border-bottom: 1px solid var(--border-color);
  background: var(--neutral-color);
}

header #logo {
  font-size: 175%;
  text-align: center;
  color: var(--main-color);
  line-height: 1;
}

header #logo .icon {
  padding-right: .25em;
}

main {
  display: block;
  margin: 0 auto;
  margin-top: 5em;
  max-width: 50em;
}


/* GRID */

.row {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.row-middle {
  align-items: center;
}

.col {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

.col-start {
  justify-content: flex-start;
  text-align: left;
}

.col-center {
  justify-content: center;
  text-align: center;
  font-weight: 700;
}

.col-end {
  justify-content: flex-end;
  text-align: right;
}


/* Calendar */

.calendar {
  display: block;
  position: relative;
  width: 100%;
  background: var(--neutral-color);
  border: 1px solid var(--border-color);
}

.calendar .header {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 115%;
  padding: 1.5em 0;
  border-bottom: 1px solid var(--border-color);
}

.calendar .header .icon {
  cursor: pointer;
  transition: .15s ease-out;
}

.calendar .header .icon:hover {
  transform: scale(1.75);
  transition: .25s ease-out;
  color: var(--main-color);
}

.calendar .header .icon:first-of-type {
  margin-left: 1em;
}

.calendar .header .icon:last-of-type {
  margin-right: 1em;
}

.calendar .days {
  text-transform: uppercase;
  font-weight: 400;
  color: var(--text-color-light);
  font-size: 70%;
  padding: .75em 0;
  border-bottom: 1px solid var(--border-color);
}

.calendar .body .cell {
  position: relative;
  height: 5em;
  border-right: 1px solid var(--border-color);
  overflow: hidden;
  cursor: pointer;
  background: var(--neutral-color);
  transition: 0.25s ease-out;
}

.calendar .body .cell:hover {
  background: var(--bg-color);
  transition: 0.5s ease-out;
}

.calendar .body .selected {
  border-left: 10px solid transparent;
  border-image: linear-gradient(45deg, #1a8fff 0%,#53cbf1 40%);
  border-image-slice: 1;
}

.calendar .body .bookingrange {
  background-color: rgb(255, 153, 0);
  opacity: 0.9;
  color:rgb(44, 44, 44) !important
}
.calendar .body .bookingend {
  background-color: rgb(18, 40, 71);
  opacity: 0.7;
  color:rgb(255, 255, 255) !important
}

.calendar .body .row {
  border-bottom: 1px solid var(--border-color);
}

.calendar .body .row:last-child {
  border-bottom: none;
}

.calendar .body .cell:last-child {
  border-right: none;
}

.calendar .body .cell .number {
  position: absolute;
  font-size: 82.5%;
  line-height: 1;
  top: .75em;
  right: .75em;
  font-weight: 700;
}

.calendar .body .disabled {
  color: var(--text-color-light);
  pointer-events: none;
}

.calendar .body .cell .bg {
  font-weight: 700;
  line-height: 1;
  color: var(--main-color);
  opacity: 0;
  font-size: 8em;
  position: absolute;
  top: -.2em;
  right: -.05em;
  transition: .25s ease-out;
  letter-spacing: -.07em;
}

.calendar .body .cell:hover .bg, .calendar .body .selected .bg  {
  opacity: 0.05;
  transition: .5s ease-in;
}

.calendar .body .col {
  flex-grow: 0;
  flex-basis: calc(100%/7);
  width: calc(100%/7);
}