.masthead {
    height: 50vh;
    min-height: 500px;
    background-image: url('./img6.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/* Column 12/12 */
.masthead .text-center{
    position:relative;
    top:-125px;
    font-weight:400;
}


/* Divroom */
#divroom{
    height:1710px;
}

/* Header */
#divroom header{
    width:100%;
}

/* Solid */
#divroom .solid{
    width:100%;
}

/* Calendardiv */
#calendardiv{
    width:1060px !important;
    height:450px !important;

    top:63px !important;
    bottom:auto !important;
    left:408px !important;
    
    font-weight:700;
    text-transform:uppercase;
    
    margin-right:20px;
    margin-top:20px;
    margin-bottom:20px;

    transform:translatex(12px) translatey(-456px);
}

/* Division */
#divroom > div{
    background-color:#e8d281;
    height:463px;
    position:relative;
    top:-76px;
    transform:translatex(18px) translatey(71px);
    width:100%;
    margin-right:0px;
    left:-19px;
}


/* Card */
#divroom div .card{
    margin-left:20px;
    margin-top:20px;
    top:20px !important;
    margin-bottom:20px;
    left:0px;
}
   
/* Span Tag */
#divroom div span{
    margin-left:20px;
}

/* Paragraph */
#calendardiv p{
    font-size:20px;
    font-weight:500;
}

/* Box */
#box{
    width:100%;
}

/* Div giallo */
#divGiallo{
    height:600px !important;
}


/* Text primary */
#divGiallo .text-bg-primary{
    font-size:15px;
    font-weight:600;
}