/* Iframe */
#divFooter iframe {
    height:410px;
    width:820px !important;
}
   
/* Div footer */
#divFooter {
    margin-bottom:60px;
}
   
/* Heading */
#divFooter h1 {
    text-transform:uppercase;
}


@media (min-width:1200px) {
    /* Heading */
    #divFooter h1{
        font-size:30px;
    }
}


/* Heading */
#divFooter h4{
    text-align:left !important;
    margin-bottom:15px !important;
    margin-top:35px;
}